`read_csv` 默认逗号分隔

`read_table` 默认\t分隔

如果分隔符不止一种, 使用正则表达式 sep = '\s+'

`\s` 表示匹配空白字符（空格、换行、制表）

`+` 表示匹配 >= 1 次

In [21]:
path = './Repo'

In [22]:
import os
path1 = os.path.join(path, '读取文件.txt')

In [23]:
import pandas as pd

In [24]:
pd.read_table(path1, sep = ',')

In [25]:
path2 = os.path.join(path, '读取文件.xlsx')
d = pd.read_excel(path2)
d

In [26]:
d.head()

In [27]:
d.shape

In [28]:
d.columns

In [29]:
d.index

In [30]:
d.dtypes

In [31]:
d2 = pd.read_excel(path2, header = None, names = ['性别', '姓名', '年龄', '手机', '地址', '入职日期'])
d2

In [32]:
d3 = pd.read_excel(path2, header = None, names = ['性别', '姓名', '年龄', '手机', '地址', '入职日期'], index_col = '入职日期')
d3

跳过一些行读取

In [33]:
d4 = pd.read_excel(path2, header = None, names = ['性别', '姓名', '年龄', '手机', '地址', '入职日期'], skiprows = [2, 3])
d4

decoding 可以指定编码

- unf-8
- ANSI
- GBK

指定读几行

In [34]:
d5 = pd.read_excel(path2, header = None, names = ['性别', '姓名', '年龄', '手机', '地址', '入职日期'], nrows = 2)
d5

txt 转 csv

In [40]:
data = pd.read_table(path1, sep = ',')
data.to_csv(os.path.join('./File/txt_to_csv.csv'))
data

## 2 读取 mysql 数据库

In [42]:
import pymysql

In [43]:
connection = pymysql.connect(
    host = 'localhost',
    user = 'root',
    passwd = 'root',
    database = 'club'
)

报警告是因为：

问题所在：你可能正在使用一个底层的数据库驱动（比如 pymysql, psycopg2 等）直接创建的连接对象，然后把它传给了 pd.read_sql。

风险：Pandas 团队没有对所有这些五花八门的底层连接对象进行过充分测试。直接使用它们可能会导致一些意想不到的问题，比如性能不佳、数据类型处理错误或在某些情况下直接报错。

官方推荐的解决方案：使用 SQLAlchemy 库来创建数据库连接。SQLAlchemy 就像一个“万能转换插头”，它可以稳定、标准地连接各种不同的数据库（MySQL, PostgreSQL, Oracle, SQL Server等），然后为 Pandas 提供一个标准化的接口。Pandas 对这个接口做了充分的测试和优化。

In [44]:
data = pd.read_sql(
    "select * from tbl_activity",
    con = connection
)

In [45]:
data

## 3 读取与修改 Excel 文件

In [47]:
path5 = os.path.join(path, '读取文件.xlsx')
data = pd.read_excel(
    path5,
    header = None,
    names = ['序号', '姓名', '年龄', '手机', '地址', '入职日期'],
    index_col = '序号'
)
data