## 1  一个文件夹下多个工作簿的合并【单独Sheet】

In [24]:
import pandas as pd
import os

In [25]:
path = './Repo/1'

In [26]:
df = pd.DataFrame()

In [27]:
df

Empty DataFrame
Columns: []
Index: []

In [28]:
for filename in os.listdir(path):
    t_df = pd.read_excel(os.path.join(path, filename))
    df = pd.concat([df, t_df])

In [29]:
df

          日期   姓名 性别
0 2020-05-01   张三  男
1 2020-05-02   李四  女
2 2020-05-03   王五  男
0 2020-05-01   叶问  男
1 2020-05-02  李小龙  男
2 2020-05-03  孙兴华  男
0 2020-05-01  孙悟空  男
1 2020-05-02  猪八戒  男
2 2020-05-03  沙和尚  男

In [30]:
df = df.reset_index(drop = True)

In [31]:
df

          日期   姓名 性别
0 2020-05-01   张三  男
1 2020-05-02   李四  女
2 2020-05-03   王五  男
3 2020-05-01   叶问  男
4 2020-05-02  李小龙  男
5 2020-05-03  孙兴华  男
6 2020-05-01  孙悟空  男
7 2020-05-02  猪八戒  男
8 2020-05-03  沙和尚  男

## 2 同一工作簿中多个Sheet合并

In [36]:
path = './Repo/25-3-合并2.xlsx'

In [38]:
df = pd.DataFrame()

In [43]:
data = pd.read_excel(path, sheet_name = None)
data

{'Sheet3':    序号 姓名   电话
 0   1  A  123
 1   2  B  456
 2   3  C  789,
 'Sheet2':    序号 姓名   电话
 0   1  D  678
 1   2  E  901
 2   3  F  991,
 'Sheet1':    序号 姓名   电话
 0   1  X  555
 1   2  Y  666
 2   3  Z  777}

In [44]:
keys = list(data.keys())

In [45]:
keys

['Sheet3', 'Sheet2', 'Sheet1']

In [47]:
for key in keys:
    t_df = data[key]
    df = pd.concat([df, t_df])

In [48]:
df

   序号 姓名   电话
0   1  A  123
1   2  B  456
2   3  C  789
0   1  D  678
1   2  E  901
2   3  F  991
0   1  X  555
1   2  Y  666
2   3  Z  777

In [50]:
df = df.reset_index(drop = True)
df = df.drop(axis = 1, labels = '序号')
df

  姓名   电话
0  A  123
1  B  456
2  C  789
3  D  678
4  E  901
5  F  991
6  X  555
7  Y  666
8  Z  777

没太有必要学的很仔细，注意区分出：
- 工作簿是整个文件
- Sheet 是一个工作表