1、index需要聚合的列名，默认情况下聚合所有数据值的列

In [4]:
import pandas as pd
路径 = './Repo/透视.xlsx'
数据 = pd.read_excel(路径)
数据

             日期  部门 销售人员 所属区域    数量  金额  成本
0    2019-01-01  销售  李平平   湖北    16   7   8
1    2019-01-02  销售  李平平   湖北    40   8   3
2    2019-01-03  销售  李平平   湖北    20   6   7
3    2019-01-04  销售  李平平   湖北    20   7   5
4    2019-01-05  销售  李平平   湖北    16   6   6
...         ...  ..  ...  ...   ...  ..  ..
1215 2022-04-30  财务   熊牧   山东   250   4   8
1216 2022-05-01  客服  赵温江   山东  2200   4   8
1217 2022-05-02  客服  赵温江   山东  1400   3   3
1218 2022-05-03  客服  赵温江   四川  3500   7   3
1219 2022-05-04  客服  赵温江   四川  2200   4   4

[1220 rows x 7 columns]

In [5]:
数据2 = pd.pivot_table(数据,index=['部门','销售人员'], values = ['数量', '金额', '成本'])
print(数据2)

                成本           数量        金额
部门  销售人员
办公室 郑浪    5.657143   908.285714  5.714286
客服  蒋波    5.500000   659.401639  5.377049
    赵温江   5.279412  1108.073529  5.735294
财务  冯文    5.490323   284.264516  5.793548
    熊牧    5.491525   482.423729  5.559322
销售  李平平   5.472906   112.679803  5.349754
    王松    5.444640   117.539543  5.604569
    郑浪    4.777778  1636.666667  5.444444