In [29]:
import pandas as pd

In [30]:
path = './Repo/字符串.xlsx'

In [31]:
df = pd.read_excel(path)

In [32]:
df

          日期  工号   姓名  年龄  战斗力   温度    状态    里程    特常   地区
0 2020-05-01  21  丁智敏  37  200  36℃  满血激活   近距离  指鹿为马   丑国
1 2020-05-02  22  李平平  26  250  37℃  零血销毁   远距离  隔空取物   米国
2 2020-05-03  23   王松  27  200  38℃  满血激活   近距离  指鹿为马   丑国
3 2020-05-04  24  卢海军  34  200  39℃  零血销毁  中远距离  隔空取物   米国
4 2020-05-05  25   王刚  38  250  40℃  零血销毁   远距离  指鹿为马   丑国
5 2020-05-06  26  NaN  35  200  41℃   NaN   NaN   NaN  NaN

In [33]:
df['姓名'].str.cat()

'丁智敏李平平王松卢海军王刚'

In [34]:
df['姓名'].str.cat(sep = ' ')

'丁智敏 李平平 王松 卢海军 王刚'

In [35]:
df['姓名'].str.cat(['变身'] * len(df))

0    丁智敏变身
1    李平平变身
2     王松变身
3    卢海军变身
4     王刚变身
5      NaN
Name: 姓名, dtype: object

In [36]:
df['姓名'].str.cat(['变身'] * len(df), sep = '^')

0    丁智敏^变身
1    李平平^变身
2     王松^变身
3    卢海军^变身
4     王刚^变身
5       NaN
Name: 姓名, dtype: object

In [37]:
df['姓名'].str.cat(['变身'] * len(df), sep = '->', na_rep = '2')

0    丁智敏->变身
1    李平平->变身
2     王松->变身
3    卢海军->变身
4     王刚->变身
5      2->变身
Name: 姓名, dtype: object

In [38]:
df

          日期  工号   姓名  年龄  战斗力   温度    状态    里程    特常   地区
0 2020-05-01  21  丁智敏  37  200  36℃  满血激活   近距离  指鹿为马   丑国
1 2020-05-02  22  李平平  26  250  37℃  零血销毁   远距离  隔空取物   米国
2 2020-05-03  23   王松  27  200  38℃  满血激活   近距离  指鹿为马   丑国
3 2020-05-04  24  卢海军  34  200  39℃  零血销毁  中远距离  隔空取物   米国
4 2020-05-05  25   王刚  38  250  40℃  零血销毁   远距离  指鹿为马   丑国
5 2020-05-06  26  NaN  35  200  41℃   NaN   NaN   NaN  NaN

In [39]:
df['合并'] = df['姓名'] + df['年龄'].astype(str) + df['里程']

In [40]:
df

          日期  工号   姓名  年龄  战斗力   温度    状态    里程    特常   地区         合并
0 2020-05-01  21  丁智敏  37  200  36℃  满血激活   近距离  指鹿为马   丑国   丁智敏37近距离
1 2020-05-02  22  李平平  26  250  37℃  零血销毁   远距离  隔空取物   米国   李平平26远距离
2 2020-05-03  23   王松  27  200  38℃  满血激活   近距离  指鹿为马   丑国    王松27近距离
3 2020-05-04  24  卢海军  34  200  39℃  零血销毁  中远距离  隔空取物   米国  卢海军34中远距离
4 2020-05-05  25   王刚  38  250  40℃  零血销毁   远距离  指鹿为马   丑国    王刚38远距离
5 2020-05-06  26  NaN  35  200  41℃   NaN   NaN   NaN  NaN        NaN

In [41]:
df['合并2'] = df['姓名'].str.cat(df['年龄'].astype(str), sep = ' ').str.cat(df['里程'], sep = ' ')
df

,日期,工号,姓名,年龄,战斗力,温度,状态,里程,特常,地区,合并,合并2
0,2020-05-01,21,丁智敏,37,200,36℃,满血激活,近距离,指鹿为马,丑国,丁智敏37近距离,丁智敏 37 近距离
1,2020-05-02,22,李平平,26,250,37℃,零血销毁,远距离,隔空取物,米国,李平平26远距离,李平平 26 远距离
2,2020-05-03,23,王松,27,200,38℃,满血激活,近距离,指鹿为马,丑国,王松27近距离,王松 27 近距离
3,2020-05-04,24,卢海军,34,200,39℃,零血销毁,中远距离,隔空取物,米国,卢海军34中远距离,卢海军 34 中远距离
4,2020-05-05,25,王刚,38,250,40℃,零血销毁,远距离,指鹿为马,丑国,王刚38远距离,王刚 38 远距离
5,2020-05-06,26,NaN,35,200,41℃,NaN,NaN,NaN,NaN,NaN,NaN

split / rsplit

- rsplit 是从右往左分割

In [42]:
df = pd.read_excel(path)
df

          日期  工号   姓名  年龄  战斗力   温度    状态    里程    特常   地区
0 2020-05-01  21  丁智敏  37  200  36℃  满血激活   近距离  指鹿为马   丑国
1 2020-05-02  22  李平平  26  250  37℃  零血销毁   远距离  隔空取物   米国
2 2020-05-03  23   王松  27  200  38℃  满血激活   近距离  指鹿为马   丑国
3 2020-05-04  24  卢海军  34  200  39℃  零血销毁  中远距离  隔空取物   米国
4 2020-05-05  25   王刚  38  250  40℃  零血销毁   远距离  指鹿为马   丑国
5 2020-05-06  26  NaN  35  200  41℃   NaN   NaN   NaN  NaN

In [44]:
df['状态'].str.split()

0    [满血激活]
1    [零血销毁]
2    [满血激活]
3    [零血销毁]
4    [零血销毁]
5       NaN
Name: 状态, dtype: object

In [45]:
df['状态'].str.split('血')

0    [满, 激活]
1    [零, 销毁]
2    [满, 激活]
3    [零, 销毁]
4    [零, 销毁]
5        NaN
Name: 状态, dtype: object

指定 expand = True 会将列表打开, 变为 Dataframe

In [47]:
df['状态'].str.split('血', expand=True)

     0    1
0    满   激活
1    零   销毁
2    满   激活
3    零   销毁
4    零   销毁
5  NaN  NaN

partition / rpartition

与 split 相比, 会把分隔符也塞到列表

In [48]:
df

          日期  工号   姓名  年龄  战斗力   温度    状态    里程    特常   地区
0 2020-05-01  21  丁智敏  37  200  36℃  满血激活   近距离  指鹿为马   丑国
1 2020-05-02  22  李平平  26  250  37℃  零血销毁   远距离  隔空取物   米国
2 2020-05-03  23   王松  27  200  38℃  满血激活   近距离  指鹿为马   丑国
3 2020-05-04  24  卢海军  34  200  39℃  零血销毁  中远距离  隔空取物   米国
4 2020-05-05  25   王刚  38  250  40℃  零血销毁   远距离  指鹿为马   丑国
5 2020-05-06  26  NaN  35  200  41℃   NaN   NaN   NaN  NaN

In [50]:
df['状态'].str.partition('血')

     0    1    2
0    满    血   激活
1    零    血   销毁
2    满    血   激活
3    零    血   销毁
4    零    血   销毁
5  NaN  NaN  NaN

还要注意, 即使有多个分隔符, `partition` 也只会按照第一个分隔符分割

In [53]:
'BbBbB'.partition('b')

('B', 'b', 'BbB')

## 4 Get

In [54]:
df

          日期  工号   姓名  年龄  战斗力   温度    状态    里程    特常   地区
0 2020-05-01  21  丁智敏  37  200  36℃  满血激活   近距离  指鹿为马   丑国
1 2020-05-02  22  李平平  26  250  37℃  零血销毁   远距离  隔空取物   米国
2 2020-05-03  23   王松  27  200  38℃  满血激活   近距离  指鹿为马   丑国
3 2020-05-04  24  卢海军  34  200  39℃  零血销毁  中远距离  隔空取物   米国
4 2020-05-05  25   王刚  38  250  40℃  零血销毁   远距离  指鹿为马   丑国
5 2020-05-06  26  NaN  35  200  41℃   NaN   NaN   NaN  NaN

感觉这玩意没用

In [57]:
df['状态'].get(0), df['状态'].get(1), df['状态'].get(2), df['状态'].get(-1)

('满血激活', '零血销毁', '满血激活', None)

integer position 索引

In [64]:
df.iloc[0, 6], df.iloc[1, 6], df.iloc[2, 6],  df.iloc[-1, 6],

('满血激活', '零血销毁', '满血激活', nan)

loc 标签索引

In [67]:
df.loc[0, '状态'], df.loc[1, '状态'], df.loc[2, '状态'], df.loc[len(df) - 1, '状态']

('满血激活', '零血销毁', '满血激活', nan)

## 5 silce 获取指定范围

获取前 [l, r) 个字符

In [70]:
df['状态'].str.slice(0, 2)

0     满血
1     零血
2     满血
3     零血
4     零血
5    NaN
Name: 状态, dtype: object

In [72]:
df['状态'].str.slice(0, 5, 2)

0     满激
1     零销
2     满激
3     零销
4     零销
5    NaN
Name: 状态, dtype: object

In [73]:
df

          日期  工号   姓名  年龄  战斗力   温度    状态    里程    特常   地区
0 2020-05-01  21  丁智敏  37  200  36℃  满血激活   近距离  指鹿为马   丑国
1 2020-05-02  22  李平平  26  250  37℃  零血销毁   远距离  隔空取物   米国
2 2020-05-03  23   王松  27  200  38℃  满血激活   近距离  指鹿为马   丑国
3 2020-05-04  24  卢海军  34  200  39℃  零血销毁  中远距离  隔空取物   米国
4 2020-05-05  25   王刚  38  250  40℃  零血销毁   远距离  指鹿为马   丑国
5 2020-05-06  26  NaN  35  200  41℃   NaN   NaN   NaN  NaN

In [75]:
df['状态'] = df['状态'].str.slice_replace(1, 3, '孙兴华是文盲')

In [76]:
df

          日期  工号   姓名  年龄  战斗力   温度        状态    里程    特常   地区
0 2020-05-01  21  丁智敏  37  200  36℃  满孙兴华是文盲活   近距离  指鹿为马   丑国
1 2020-05-02  22  李平平  26  250  37℃  零孙兴华是文盲毁   远距离  隔空取物   米国
2 2020-05-03  23   王松  27  200  38℃  满孙兴华是文盲活   近距离  指鹿为马   丑国
3 2020-05-04  24  卢海军  34  200  39℃  零孙兴华是文盲毁  中远距离  隔空取物   米国
4 2020-05-05  25   王刚  38  250  40℃  零孙兴华是文盲毁   远距离  指鹿为马   丑国
5 2020-05-06  26  NaN  35  200  41℃       NaN   NaN   NaN  NaN

In [77]:
df = pd.read_excel(path)

In [78]:
df

          日期  工号   姓名  年龄  战斗力   温度    状态    里程    特常   地区
0 2020-05-01  21  丁智敏  37  200  36℃  满血激活   近距离  指鹿为马   丑国
1 2020-05-02  22  李平平  26  250  37℃  零血销毁   远距离  隔空取物   米国
2 2020-05-03  23   王松  27  200  38℃  满血激活   近距离  指鹿为马   丑国
3 2020-05-04  24  卢海军  34  200  39℃  零血销毁  中远距离  隔空取物   米国
4 2020-05-05  25   王刚  38  250  40℃  零血销毁   远距离  指鹿为马   丑国
5 2020-05-06  26  NaN  35  200  41℃   NaN   NaN   NaN  NaN

In [80]:
' '.join(['a', 'b', 'c', 'd', 'e'])

'a b c d e'

In [83]:
df['状态'] = (df['状态'].str.join('a'))

In [84]:
df

          日期  工号   姓名  年龄  战斗力   温度       状态    里程    特常   地区
0 2020-05-01  21  丁智敏  37  200  36℃  满a血a激a活   近距离  指鹿为马   丑国
1 2020-05-02  22  李平平  26  250  37℃  零a血a销a毁   远距离  隔空取物   米国
2 2020-05-03  23   王松  27  200  38℃  满a血a激a活   近距离  指鹿为马   丑国
3 2020-05-04  24  卢海军  34  200  39℃  零a血a销a毁  中远距离  隔空取物   米国
4 2020-05-05  25   王刚  38  250  40℃  零a血a销a毁   远距离  指鹿为马   丑国
5 2020-05-06  26  NaN  35  200  41℃      NaN   NaN   NaN  NaN

注意上面两个 join 的作用是不同的

- Python: 'sep_char'.join(list)
- Series: Series.str.join('sep_char')

## 8 contains

In [87]:
df['状态'].str.contains('血', na = False)

0     True
1     True
2     True
3     True
4     True
5    False
Name: 状态, dtype: bool

In [88]:
df['状态'].str.contains('血', na = '空值')

0    True
1    True
2    True
3    True
4    True
5      空值
Name: 状态, dtype: object

## 8 startswith

## 9 endswith

## 10 repeat

In [90]:
df['姓名'] = df['姓名'].str.repeat(3)

In [91]:
df

          日期  工号         姓名  年龄  战斗力   温度       状态    里程    特常   地区
0 2020-05-01  21  丁智敏丁智敏丁智敏  37  200  36℃  满a血a激a活   近距离  指鹿为马   丑国
1 2020-05-02  22  李平平李平平李平平  26  250  37℃  零a血a销a毁   远距离  隔空取物   米国
2 2020-05-03  23     王松王松王松  27  200  38℃  满a血a激a活   近距离  指鹿为马   丑国
3 2020-05-04  24  卢海军卢海军卢海军  34  200  39℃  零a血a销a毁  中远距离  隔空取物   米国
4 2020-05-05  25     王刚王刚王刚  38  250  40℃  零a血a销a毁   远距离  指鹿为马   丑国
5 2020-05-06  26        NaN  35  200  41℃      NaN   NaN   NaN  NaN

没必要记

In [93]:
df['姓名'] = df['姓名'].str[0:3]

In [94]:
df

          日期  工号   姓名  年龄  战斗力   温度       状态    里程    特常   地区
0 2020-05-01  21  丁智敏  37  200  36℃  满a血a激a活   近距离  指鹿为马   丑国
1 2020-05-02  22  李平平  26  250  37℃  零a血a销a毁   远距离  隔空取物   米国
2 2020-05-03  23  王松王  27  200  38℃  满a血a激a活   近距离  指鹿为马   丑国
3 2020-05-04  24  卢海军  34  200  39℃  零a血a销a毁  中远距离  隔空取物   米国
4 2020-05-05  25  王刚王  38  250  40℃  零a血a销a毁   远距离  指鹿为马   丑国
5 2020-05-06  26  NaN  35  200  41℃      NaN   NaN   NaN  NaN

In [98]:
df['姓名'] = df['姓名'] * 3

In [99]:
df

          日期  工号         姓名  年龄  战斗力   温度       状态    里程    特常   地区
0 2020-05-01  21  丁智敏丁智敏丁智敏  37  200  36℃  满a血a激a活   近距离  指鹿为马   丑国
1 2020-05-02  22  李平平李平平李平平  26  250  37℃  零a血a销a毁   远距离  隔空取物   米国
2 2020-05-03  23  王松王王松王王松王  27  200  38℃  满a血a激a活   近距离  指鹿为马   丑国
3 2020-05-04  24  卢海军卢海军卢海军  34  200  39℃  零a血a销a毁  中远距离  隔空取物   米国
4 2020-05-05  25  王刚王王刚王王刚王  38  250  40℃  零a血a销a毁   远距离  指鹿为马   丑国
5 2020-05-06  26        NaN  35  200  41℃      NaN   NaN   NaN  NaN