## 1 match

In [41]:
import pandas as pd

In [42]:
path = './Repo/字符串.xlsx'

In [43]:
df = pd.read_excel(path)

In [44]:
df = df['状态']

In [45]:
df

0    满血激活
1    零血销毁
2    满血激活
3    零血销毁
4    零血销毁
5     NaN
Name: 状态, dtype: object

- `.` 代表元字符
- `{x}` 表示匹配 `x` 次

In [46]:
df.str.match(".{2}激")

0     True
1    False
2     True
3    False
4    False
5      NaN
Name: 状态, dtype: object

## 2 extract

In [47]:
df = pd.read_excel(path)['日期']

In [48]:
df

0   2020-05-01
1   2020-05-02
2   2020-05-03
3   2020-05-04
4   2020-05-05
5   2020-05-06
Name: 日期, dtype: datetime64[ns]

- \d 表示匹配一个数组
- 加上 () 表示这个东西会被捕获为 df 的一个 column

In [49]:
df.astype(str).str.extract('\d{4}-(\d{2})-(\d{2})')

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\95432\AppData\Local\Temp\ipykernel_11728\3534649454.py:1: SyntaxWarning: invalid escape sequence '\d'
  df.astype(str).str.extract('\d{4}-(\d{2})-(\d{2})')

    0   1
0  05  01
1  05  02
2  05  03
3  05  04
4  05  05
5  05  06

In [50]:
df = df.astype('str').str.replace(r"(\d+)-(\d+)-(\d+)", r"\3/\2/\1", regex = True)

In [51]:
df

0    01/05/2020
1    02/05/2020
2    03/05/2020
3    04/05/2020
4    05/05/2020
5    06/05/2020
Name: 日期, dtype: object