# Series

In [67]:
import pandas as pd

In [68]:
data = pd.Series([
    520, '孙兴华',
    1314, '2020-07-30'
])

In [69]:
data

0           520
1           孙兴华
2          1314
3    2020-07-30
dtype: object

In [70]:
data.index # 返回索引的 (起始值, 终止值, 步长)

RangeIndex(start=0, stop=4, step=1)

In [71]:
data.values # 返回zhi序列

array([520, '孙兴华', 1314, '2020-07-30'], dtype=object)

## 指定 Series 的索引

In [72]:
ds = pd.Series(
    [520, '孙兴华', 1314, '2020-07-30'],
    index = ['a', 'b', 'c', 'd']
)

In [73]:
ds

a           520
b           孙兴华
c          1314
d    2020-07-30
dtype: object

常用方法: 使用 Series 创建字典

In [74]:
dict = {
    '姓名': '魏鹏超',
    '性别': 'male',
    '年龄': 20,
    '地址': '水帘洞'
}

In [75]:
ds = pd.Series(dict)
ds

姓名     魏鹏超
性别    male
年龄      20
地址     水帘洞
dtype: object

In [76]:
ds.index # 返回 key

Index(['姓名', '性别', '年龄', '地址'], dtype='object')

根据标签索引查询数据

In [77]:
ds

姓名     魏鹏超
性别    male
年龄      20
地址     水帘洞
dtype: object

In [78]:
ds['姓名']

'魏鹏超'

In [79]:
ds['年龄']

20

In [80]:
ds[['姓名', '年龄']]

姓名    魏鹏超
年龄     20
dtype: object

In [81]:
type[ds[['姓名', '年龄']]]

type[姓名    魏鹏超
年龄     20
dtype: object]

键和值存在两个列表中，创建Series

In [82]:
list1 = ['姓名', '性别', '年龄']
list2 = ['孙兴华', '男', 20]
ds = pd.Series(index = list1, data = list2)

In [83]:
ds

姓名    孙兴华
性别      男
年龄     20
dtype: object

常用方法

In [84]:
ds = pd.read_excel('./Repo/数据结构.xlsx', header = None, names = ['序号', '姓名', '年龄', '手机', '地址', '入职日期'], index_col = '序号')

In [85]:
ds

     姓名    年龄            手机     地址       入职日期
序号
1    杨过  19.0  1.390123e+10  终南山古墓 2000-01-01
2   小龙女  25.0  1.380111e+10  终南山古墓 2000-01-02
4    黄蓉  35.0  1.360111e+10   湖北襄阳 2000-01-04
3    郭靖  40.0  1.370556e+10   湖北襄阳 2000-01-03
5   张无忌  18.0  1.350667e+10     明教 2000-01-05
6   周芷若  17.0  1.331111e+10     明教 2000-01-06
7    赵敏   NaN  1.800000e+10     明教 2000-01-07
8    杨过   NaN           NaN    NaN        NaT

In [86]:
ds.index

Index([1, 2, 4, 3, 5, 6, 7, 8], dtype='int64', name='序号')

In [87]:
ds.values

array([['杨过', 19.0, 13901234567.0, '终南山古墓',
        Timestamp('2000-01-01 00:00:00')],
       ['小龙女', 25.0, 13801111111.0, '终南山古墓',
        Timestamp('2000-01-02 00:00:00')],
       ['黄蓉', 35.0, 13601111111.0, '湖北襄阳',
        Timestamp('2000-01-04 00:00:00')],
       ['郭靖', 40.0, 13705555555.0, '湖北襄阳',
        Timestamp('2000-01-03 00:00:00')],
       ['张无忌', 18.0, 13506666666.0, '明教',
        Timestamp('2000-01-05 00:00:00')],
       ['周芷若', 17.0, 13311111111.0, '明教',
        Timestamp('2000-01-06 00:00:00')],
       ['赵敏', nan, 18000000000.0, '明教', Timestamp('2000-01-07 00:00:00')],
       ['杨过', nan, nan, nan, NaT]], dtype=object)

In [88]:
ds.isnull()

       姓名     年龄     手机     地址   入职日期
序号
1   False  False  False  False  False
2   False  False  False  False  False
4   False  False  False  False  False
3   False  False  False  False  False
5   False  False  False  False  False
6   False  False  False  False  False
7   False   True  False  False  False
8   False   True   True   True   True

In [89]:
ds.notnull()

      姓名     年龄     手机     地址   入职日期
序号
1   True   True   True   True   True
2   True   True   True   True   True
4   True   True   True   True   True
3   True   True   True   True   True
5   True   True   True   True   True
6   True   True   True   True   True
7   True  False   True   True   True
8   True  False  False  False  False

In [90]:
ds.sort_index()

     姓名    年龄            手机     地址       入职日期
序号
1    杨过  19.0  1.390123e+10  终南山古墓 2000-01-01
2   小龙女  25.0  1.380111e+10  终南山古墓 2000-01-02
3    郭靖  40.0  1.370556e+10   湖北襄阳 2000-01-03
4    黄蓉  35.0  1.360111e+10   湖北襄阳 2000-01-04
5   张无忌  18.0  1.350667e+10     明教 2000-01-05
6   周芷若  17.0  1.331111e+10     明教 2000-01-06
7    赵敏   NaN  1.800000e+10     明教 2000-01-07
8    杨过   NaN           NaN    NaN        NaT

In [91]:
ds.sort_values(by = '年龄') # 值排序

     姓名    年龄            手机     地址       入职日期
序号
6   周芷若  17.0  1.331111e+10     明教 2000-01-06
5   张无忌  18.0  1.350667e+10     明教 2000-01-05
1    杨过  19.0  1.390123e+10  终南山古墓 2000-01-01
2   小龙女  25.0  1.380111e+10  终南山古墓 2000-01-02
4    黄蓉  35.0  1.360111e+10   湖北襄阳 2000-01-04
3    郭靖  40.0  1.370556e+10   湖北襄阳 2000-01-03
7    赵敏   NaN  1.800000e+10     明教 2000-01-07
8    杨过   NaN           NaN    NaN        NaT